# Cartelle di build CMake
build/
build_windows/
.build_backup/
**/build/
**/build_windows/

# Dipendenze scaricate da CMake
**/_deps/

# Toolchain e librerie locali
vcpkg/
lib/
coso/

# SDK Windows
Microsoft.Windows.SDK.BuildTools/

# File compilati
*.o
*.obj
*.so
*.dll
*.a
*.lib

# File temporanei editor
*.log
*.tmp

# VS Code
.vscode/

# file di configurazione locali
config.json
