# Cartelle di build CMake
build/
build_windows/
build_copilot_check/
build_run/
cmake-build-debug/
coso/
lib/
Microsoft.Windows.SDK.BuildTools/
vcpkg/

# File temporanei
*.o
*.obj
*.dll
*.so

# VS Code
.vscode/

# file di configurazione
config.json

# file di compilazione aggiuntivi
CMakeLists.txt
CMakeLists2.txt
CMakeListSTATICO.txt
CMakeLists_l.txt

compila.bat
compila.sh

build.bat
build.sh