# Cartelle di build CMake
build/
Microsoft.Windows.SDK.BuildTools/
build_windows/
.build_backup/


# File temporanei
*.o
*.obj
*.dll
*.so

# VS Code
.vscode/

# Compilazione
coso/
vcpkg/
lib/

# file di configurazione
config.json
